* {
  box-sizing: border-box;
}

html:has(.profile-card-example) {
  height: 100vh;
}

@font-face {
  font-family: Calinastiya;
  src: url('../assets/Calinastiya\ demo.ttf');
}

body {
  background-color: black;
}

.shape {
  width: 600px;
  height: 300px;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  border: 5px solid #fff;
  border-radius: 40px;
  box-shadow: 0 0 50px 5px #fff;
  translate: 0 -700px;
  position: relative;
  z-index: 1;

}

.foto {
  position: relative;
  width: 200px;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  translate: 820px -290px;
  z-index: 2;
}

.naam {
  z-index: 2;
  color: white;
  font-family: Calinastiya;
  font-size: 70px;
  translate: 475px 40px;
  position: relative;
  
}

.bday {
  z-index: 2;
  color: white;
  font-family: Calinastiya;
  font-size: 50px;
  translate: 475px -10px;
  position: relative;
}

.woonplaats {
  z-index: 2;
  color: white;
  font-family: Calinastiya;
  font-size: 50px;
  translate: 475px -60px;
  position: relative;
}

.quote {
  z-index: 2;
  color: white;
  font-family: Calinastiya;
  font-size: 50px;
  translate: 475px -390px;
  position: relative;
}

.cake {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 550px;
  margin:50px auto;
}

.icing {
  width: 560px;
  height: 200px;
  position: relative;
  z-index:5;
  translate: 0 -1050px;
  margin-left: -5px;
}

.layer {
  position:relative;
  width: 550px;
  border-radius: 50% / 20%;
  height:175px;
  translate:0 0px;
  z-index:1;
  background-color: blue;
  border: 2px solid black;
}

.layer1 {
  z-index:4;
  background-color: #522a1a;
  translate: 0 -1200px;
  border: 5px solid black;
}

.layer2 {
  z-index:3;
  background-color:#673824;
  translate: 0 -1250px;
  border: 5px solid black;
}

.layer3 {
  z-index:2;
  background-color: #522a1a;
  translate: 0 -1300px;
  border: 5px solid black;
}

.candles {
  color: black;
  text-align: center;
  translate: 0 -870px;
  z-index: 6;
  font-size: 80px;
  font-family: Calinastiya;
  font-weight: bold;
}

.vlam {
   text-align: center;
    translate: 0 -755px;
    z-index: 6;
}

.lighter {
  translate: 170px -300px;
  z-index: 7;
  position: relative;
}

